{% comment %} 
  Inputs:
    title: The hero title (default: page.title, site.title).
    subtitle: A paragraph below the title (default: page.subtitle).
    cover: Image URL before the title (default: page.cover).
{% endcomment %}

{% assign title = include.title | default: page.title | default: site.title %}
{% assign subtitle = include.subtitle | default: page.subtitle %}
{% assign cover = include.cover | default: page.cover %}

<div class="hero">
  <div class="content">
    {% if cover %}
      <div class="cover" style="background-image: url({{ cover }})"> </div>
    {% endif %}
    <div class="text">  
      <h1>{{ title | markdownify | remove: '<p>' | remove: '</p>' }}</h1>
      {{ subtitle | markdownify }}
    </div>
  </div>
</div>