@use "variables/colors.scss";
@use "variables/layout.scss";
@use "variables/typography.scss";

* {
    box-sizing: border-box;
}

html {
    min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;

    min-height: 100vh;

    margin: 0;

    background: colors.$background;

    font-family: typography.$font-family-global;
    font-size: typography.$font-size-5;
    color: colors.$foreground;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: layout.$spacing-medium 0 layout.$spacing-small;
    font-family: typography.$font-family-header;
    font-weight: normal;
}

h1 {
    font-size: typography.$font-size-1;
}

h2 {
    font-size: typography.$font-size-2;
}

h3 {
    font-size: typography.$font-size-3;
}

h4 {
    font-size: typography.$font-size-4;
}

h5 {
    font-size: typography.$font-size-5;
}

h6 {
    font-size: typography.$font-size-6;
}

p {
    margin: layout.$spacing-medium 0;
}