$background-light: #E6F2DD;
$background-medium: #618764;
$background-dark: #273338;
$background: $background-light;

$foreground-light: #f0f0f0;
$foreground-medium: #808080;
$foreground-dark: #101010;
$foreground: $foreground-dark;