$gray-light: #f0f0f0;
$gray-medium: #808080;
$gray-dark: #101010;

$background-light: #E6F2DD;
$background-medium: #618764;
$background-dark: #273338;
$background: $background-light;

$foreground-light: $gray-light;
$foreground-medium: $gray-medium;
$foreground-dark: $gray-dark;
$foreground: $foreground-dark;