$content-small: 480px !default;
$content-medium: 768px !default;
$content-large: 1280px !default;
$content-max: $content-large !default;

$spacing-xsmall: 0.25em !default;
$spacing-small: 0.5em !default;
$spacing-medium: 1em !default;
$spacing-large: 2em !default;
$spacing-xlarge: 3em !default;