$font-family-global: "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
$font-family-header: "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;

$font-size-1: 2.441em !default;
$font-size-2: 1.953em !default;
$font-size-3: 1.563em !default;
$font-size-4: 1.25em !default;
$font-size-5: 1em !default;
$font-size-6: 0.75em !default;
$font-size-7: 0.6875em !default;
$font-size-8: 0.625em !default;

$header-size-1: 1.563em !default;
$header-size-2: 1.25em !default;
$header-size-3: 1.125em !default;
$header-size-4: 1.0625em !default;
$header-size-5: 1.03125em !default;
$header-size-6: 1em !default;