@use "../variables/colors.scss";
@use "../variables/layout.scss";
@use "../variables/typography.scss";

footer {
    background: colors.$background-light;
    font-size: typography.$font-size-6;
    text-align: center;

    padding: layout.$spacing-small;
}

.default-content {
    flex-grow: 1;
    overflow: auto;
}