---
layout: page

# Layout parameters:
#
# title: header title
# subtitle: header subtitle
# links: 
#   - title: link card title
#     url: link card URL
---

<section class="preamble">
  {{ content }}
</section>
<section class="links">
  {% for link in page.links %}
    {% comment %}
      If rendered from outside a collection (e.g. main page), link to the default language
    {% endcomment %}
    {% if page.collection %}
      {% assign url = link.url %}
    {% else %}
      {% assign url = site.defaults.language | append: "/" | append: link.url %}
    {% endif %}
    <a class="card" href="{{ url }}">{{ link.title }}</a>
  {% endfor %}
</section>