---
layout: page

# Layout parameters:
#
# title: header title
# subtitle: header subtitle
# sections: list of sections and separators
#   - title: Section title
#     image: Section image URL
#     content: Section content
---

{% for section in page.sections %}
  {% if section.content %}
    {% if section.image %}
      {% if image_side == "left" %}
        {% assign image_side = "right" %}
      {% else %}
        {% assign image_side = "left" %}
      {% endif %}
    {% endif %}
    <section>
      {% if section.image and image_side == "left" %}
        <img src="{{ section.image }}" class="{{ image_side }}"/>
      {% endif %}

      <div class="content">
        <h2>{{ section.title }}</h2>
        {{ section.content | markdownify }}
      </div>
      
      {% if section.image and image_side == "right" %}
        <img src="{{ section.image }}" class="{{ image_side }}"/>
      {% endif %}
    </section>
  {% else %}
    {% assign image_side = nil %}
    <h1>{{ section.title }}</h1>
  {% endif %}

{% endfor %}